<template>
  <nuxt-link
    :to="postLink"
    class="post-preview"
  >
    <h2 class="post-preview_title">
      <span class="post-preview_title_text">{{ title }}</span>
    </h2>
    <div class="post-preview_image-container">
      <img
        class="post-preview_image"
        :src="image"
        alt="alt text"
      >
    </div>
    <p class="post-preview_text">
      {{ resume }}
    </p>
  </nuxt-link>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component({})
export default class extends Vue {
  @Prop({ required: true, type: Number })
  id: number
  @Prop({ required: true, type: String })
  title: string
  @Prop({
    required: true,
    type: String,
    default:
      'https://c.pxhere.com/photos/a4/ab/woman_walk_girl_nature_afternoon_one_tree_hill_loneliness_sexy-718377.jpg!d',
  })
  image: string
  @Prop({ required: true, type: String })
  resume: string
  @Prop({ type: Boolean, default: false })
  isAdmin: boolean

  get postLink() {
    return this.isAdmin ? `/admin/${this.id}` : `/posts/${this.id}`
  }
}
</script>

<style lang="scss">
.post-preview {
  @include card;
  display: block;
}
.post-preview_image-container {
  position: relative;
  min-height: toRem(200px);
  margin: 0 0 1rem;
  overflow: hidden;
  border-radius: $br_default;
}
.post-preview_image {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
</style>
