<template>
  <div class="post-list">
    <PostPreview
      v-for="(postPreview, index) in postPreviews"
      :key="index"
      :id="postPreview.id"
      :title="postPreview.title"
      :image="postPreview.image"
      :resume="postPreview.resume"
      :is-admin="isAdmin"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import PostPreview from '~/components/Posts/PostPreview.vue'

@Component({
  components: {
    PostPreview,
  },
})
export default class extends Vue {
  @Prop({
    type: Array,
    required: true,
    // default: () => [
    //   {
    //     id: 1,
    //     title: 'Post Title #1',
    //     resume: 'This is the post resume #1',
    //     image:
    //       'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    //   },
    //   {
    //     id: 2,
    //     title: 'Post Title #2',
    //     resume: 'This is the post resume #2',
    //     image:
    //       'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    //   },
    //   {
    //     id: 3,
    //     title: 'Post Title #2',
    //     resume: 'This is the post resume #2',
    //     image:
    //       'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    //   },
    //   {
    //     id: 4,
    //     title: 'Post Title #2',
    //     resume: 'This is the post resume #2',
    //   },
    //   {
    //     id: 5,
    //     title: 'Post Title #2',
    //     resume: 'This is the post resume #2',
    //     image:
    //       'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    //   },
    //   {
    //     id: 6,
    //     title: 'Post Title #2',
    //     resume: 'This is the post resume #2',
    //     image:
    //       'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    //   },
    // ],
  })
  postPreviews
  @Prop({ type: Boolean })
  isAdmin: boolean
}
</script>

<style lang="scss">
.post-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (-$gutter_page);
}
.post-preview {
  flex-basis: 100%;
}

@media #{$mq_labtop} {
  .post-list {
    .post-preview {
      flex-basis: 30%;
      margin: 0 $gutter_page 1rem;
    }
  }
}
</style>
