<template>
  <div class="create-post-page">
    <CreatePostForm />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import CreatePostForm from '~/components/Forms/CreatePostForm.vue'

@Component({
  components: {
    CreatePostForm,
  },
})
export default class extends Vue {}
</script>

