.form_fields {
  @include form-grid(3);
}
.form_description {
  margin: 0 0 1rem;
}
.form_action {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem (-0.5rem) 0;
  .ui-button {
    margin: 0 .5rem 1rem;
  }
}

// -------------------------------------------------
// + auth form
// -------------------------------------------------

.auth-form {
  min-width: toRem(250px);
  .form_fields {
    @include form-grid;
  }
  .form_action {
    justify-content: center;
  }
  .ui-button {
    width: 100%;
    margin-bottom: 0;
  }
}

// -------------------------------------------------
// + form ingreso
// -------------------------------------------------

.form-ingreso {

}

// -------------------------------------------------
// + form meta
// -------------------------------------------------

.form-meta {

}
