<template>
  <div class="admin-page">
    <div class="admin-page_actions">
      <UiButton
        text="Create post"
        href="/admin/new-post"
        type="nuxt-link"
      />
    </div>
    <div class="admin-page_existing-posts">
      <h1>Existing Posts</h1>
      <PostList is-admin />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import PostList from '~/components/Posts/PostList.vue'
import UiButton from '~/components/UI/UiButton.vue'

@Component({
  components: {
    PostList,
    UiButton,
  },
})
export default class extends Vue {}
</script>

<style lang="scss">
.admin-page_actions {
  margin: 0 0 1rem;
}
</style>

