.auth-menu {
  position: relative;
  &:hover,
  &.is-active {
    .auth-menu_form {
      visibility: visible;
      z-index: 1;
      opacity: 1;
    }
  }
}
.auth-menu_trigger_button {
  @include use-iconfont($fa-var-user, $main-header_icons_size, after);
  padding: toRem(($main-header_height - $main-header_icons_size) / 2) 0 toRem(($main-header_height - $main-header_icons_size) / 2) 1rem;
  display: flex;
  align-items: center;
}
.auth-menu_trigger_button_text {
  margin: 0 1rem 0 0;
}
.auth-menu_form {
  @include card;
  visibility: hidden;
  position: absolute;
  top: calc(100% + #{toRem($auth-menu_top-space)});
  right: 0;
  opacity: 0;
  &::before { // invisible top div to continue hover event
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: toRem($auth-menu_top-space + 16px);
    top: toRem(-$auth-menu_top-space - 16px);
  }
}
