.banner {
  position: relative;
  margin: 0 0 1rem;
}
// + image
.banner_image_container {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  &::after { // transparent filter overlay
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($c-black, .5);
  }
}
.banner_image {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

// + content
.banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: toRem(600px);
  min-height: toRem(400px);
  color: $c-white;
  text-align: center;
}
.banner_content_icon {
  @include use-iconfont($fa-var-battery-quarter, $fs-xxl);
  margin: 0 0 3rem;
}
.banner_content_title_text {
  @include font-size($fs-xxl);
  margin-bottom: 3rem;
  text-transform: uppercase;
}
