.board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: -$board_gutter (-$board_gutter) 2rem;
}
.board_item {
  background-color: transparent;
  flex-basis: calc(20% - #{$board_gutter} * 2);
  flex-grow: 1;
  flex-shrink: 0;
  margin: toRem($board_gutter);
  color: $c-white;
  cursor: pointer;
  &:hover {
    .board_item_container {
      transform: rotateY(180deg);
    }
  }
}
.board_item_container {
  position: relative;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.board_item_front,
.board_item_back {
  @include card-mobile;
  width: 100%;
  height: 100%;
  padding: $gutter-form-horizontal;
  backface-visibility: hidden;
}
.board_item_front {
  z-index: 2;
}
.board_item_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $c-gray-1;
  color: $c-white;
  font-weight: 600;
  transform: rotateY(180deg);
  box-shadow: $bs_material-2;
}
