.footer {
  @include card-mobile;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.footer_brand {
  // flex: 0 0 100px;
}
.footer_brand_image {
  height: toRem($footer_brand-height);
}
