.header {
  display: flex;
  margin: 1rem 0;
}
// + brand
.header_brand {
  @include card-mobile;
  flex: 1 1 100%;
}
.header_brand_image {
  margin: toRem(6px) 0 0;
}
// + title
.header_title {
  @include card-mobile;
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media #{$mq_labtop} {
  // + brand
  .header_brand_image {
    height: 60px;
  }
  // + title
  .header_title {
    flex: 0 0 $side-nav_width;
    margin: 0 1rem 0 0;
  }
  .header_title_text {
    margin: 0;
  }
  .header_brand {
    display: flex;
    justify-content: center;
  }
}
