.page-wrap {
  @include container;
}
.page-wrap_container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 1rem);
  padding-bottom: $footer_height;
}
.main-content {
  flex: 1 1 100%;
  display: flex;
}
.main-content_container {
  @include card;
  flex: 1 1 100%;
}