.side-nav {
  @include card;
  flex: 0 0 $side-nav_width;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  margin: 0 1rem 0 0;
  padding: $br-default 0;
}
.side-nav_item {
  width: 90%;
  margin: 0 0 1rem;
}
.side-nav_item_link {
  @include button(primary);
  width: 100%;
}

