.ui-button {
  @include button;
  &.is-primary {
    @include button(primary);
  }
  &.is-secondary {
    @include button(secondary);
  }
  &.is-warning {
    @include button(warning);
  }
  &.is-danger {
    @include button(danger);
  }
}
