@include ui_states('.ui-select');
.ui-select {
  &.is-focused,
  &.has-value {
    .ui-select_input {
      color: $c-text;
    }
  }
}
.ui-select_wrap {
  @include ui_wrap;
}
.ui-select_label {
  @include ui_label;
}
.ui-select_input {
  @include ui_input;
  color: transparent;
  cursor: pointer;
}
