// -------------------------------------------------
// + icon variables
// -------------------------------------------------

$icon-delete: '\e900';
$icon-copy: '\e901';
$icon-edit: '\e902';
$icon-poll: '\e903';
$icon-idea: '\e904';
$icon-search: '\e905';
$icon-announcments: '\e906';
$icon-warning: '\e907';
$icon-help: '\e908';
$icon-attatchment: '\e909';
$icon-emoji: '\e90a';
$icon-arrow-bottomleft: '\e90b';
$icon-arrow-bottomright: '\e90c';
$icon-trend-medium: '\e90d';
$icon-trend-down: '\e90e';
$icon-trend-up: '\e90f';
$icon-arrow-topleft: '\e910';
$icon-arrow-topright: '\e911';
$icon-chevron-left: '\e912';
$icon-chevron-up: '\e913';
$icon-chevron-down: '\e914';
$icon-chevron-right: '\e915';
$icon-percentage: '\e916';
$icon-cross: '\e917';
$icon-notification: '\e918';
$icon-settings: '\e919';
$icon-add: '\e91a';
$icon-menu: '\e91b';
$icon-add-inverted: '\e91c';
$icon-check: '\e91d';
