<template>
  <div class="dynamic-table">
    <div class="dynamic-table_filters">
      <UiSelect
        v-for="(filterControl, index) in visibleAvailableFilters"
        v-model="filterValues[index]"
        :key="index"
        :name="`filter-${index}`"
        :options="filterControl.options"
      />
      <UiSelect
        v-if="visibleAddFilterOptions.length"
        :options="visibleAddFilterOptions"
        class="is-add-filter-button"
        name="add-filter"
        label="Add filter"
        is-reset-on-select
        @input="onAddFilter"
      />
    </div>
    <div class="dynamic-table_requests">
      <span class="dynamic-table_requests_quantity">{{ requests }}</span>
      <span class="dynamic-table_requests_label">requests</span>
    </div>
    <table class="dynamic-table_table">
      <thead>
        <tr>
          <th
            v-for="(head, index) in heads"
            :key="index"
          >{{ head.text }}</th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="(row, index) in visibleRows"
          :key="index"
        >
          <td
            v-for="(cell, index) in row"
            :key="index"
            :class="{
              'is-danger': cell.type === 'danger',
              'is-warning': cell.type === 'warning',
              'is-incidence': cell.type === 'incidence',
            }"
          >{{ getCellText(cell) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang='ts'>
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import UiSelect from '~/components/UI/UiSelect.vue'
// import { Filter } from '~/types'

@Component({
  components: {
    UiSelect,
  },
})
export default class DynamicTable extends Vue {
  // -------------------------------------------------
  // + props
  // -------------------------------------------------

  @Prop({ required: true, type: Object, default: [] })
  data: any // column names, values and table confing

  // -------------------------------------------------
  // + data
  // -------------------------------------------------

  filterValues: String[] = []
  visibleAvailableFilters = []
  // urlQueryParamns = {}

  // -------------------------------------------------
  // + computed data
  // -------------------------------------------------

  // filter object representation
  get filter() {
    let filter = {}
    this.visibleAvailableFilters.forEach((o, i) => {
      filter[o.head.value] = this.filterValues[i]
    })
    // [TODO] use route params to set filter initial state
    // this.$router.push(`${this.$route.path}?${this.objectToGetParams(filter)}`)
    return filter
  }
  // filtered heads from server data
  get heads() {
    let heads = []
    this.data.items.forEach(row => {
      Object.keys(row).forEach((columName: any) => {
        const headExist = heads.find(o => {
          return o.value === columName
        })
        if (!headExist) {
          heads.push({
            value: columName,
            text: columName.replace('_', ' '),
          })
        }
      })
    })
    return heads
  }
  get rows() {
    return this.data.items
  }
  get visibleRows() {
    const visibleRows = this.rows.filter(o => {
      let isOptionMatch = true
      for (const key in o) {
        if (o.hasOwnProperty(key)) {
          if (this.filter[key] && this.filter[key] !== '') {
            if (this.getCellText(o[key]) === this.filter[key]) {
              isOptionMatch = true
            } else {
              isOptionMatch = false
              break
            }
          }
        }
      }
      return isOptionMatch
    })
    return visibleRows
  }
  get requests(): number {
    return this.visibleRows.length
  }
  get availableFilters() {
    let filters = []
    this.heads.forEach(head => {
      let options = [
        {
          value: '',
          text: `All ${head.text}`,
        },
      ]
      this.data.items.forEach(row => {
        for (const key in row) {
          if (head.value === key) {
            let value = row[key]
            // check if value is an object configuration to get value
            if (typeof value === 'object') {
              value = value.value
            }
            // check if default filter option already exist
            const optionExist = options.find(o => {
              return o.value === value
            })
            if (!optionExist) {
              options.push({
                value,
                text: value,
              })
            }
          }
        }
      })
      filters.push({
        head,
        options,
      })
    })
    return filters
  }
  get addFilterOptions() {
    return this.heads
  }
  get visibleAddFilterOptions() {
    return this.addFilterOptions.filter(filterOption => {
      let filterIsAdded = true
      this.visibleAvailableFilters.map(availableFilter => {
        if (filterOption.value === availableFilter.head.value) {
          filterIsAdded = false
        }
      })
      return filterIsAdded
    })
  }

  // -------------------------------------------------
  // + life cicle
  // -------------------------------------------------

  created() {
    // [TODO] set filter with query params 
    // this.urlQueryParamns = this.$route.query
    // this.visibleAvailableFilters = []

    // add default filters
    if (this.data.default_filters) {
      if (this.data.default_filters.items) {
        this.data.default_filters.items.forEach(o => {
          this.addFilter(o.column)
        })
      }
    }
  }

  // -------------------------------------------------
  // + events
  // -------------------------------------------------

  onAddFilter(value) {
    this.addFilter(value)
  }

  // -------------------------------------------------
  // + functions
  // -------------------------------------------------

  getCellText(cell) {
    if (typeof cell === 'object') {
      if (Array.isArray(cell)) {
        let valuesToReturn = ''
        cell.forEach((o, i: number) => {
          valuesToReturn += this.getCellText(o)
          if (cell.length !== i + 1) {
            valuesToReturn += ', '
          }
        })
        return valuesToReturn
      }
      return cell.value
    }
    return cell
  }

  /**
   * add filter with comun name
   */
  addFilter(value) {
    const filterToAdd = this.availableFilters.find(o => {
      return o.head.value === value
    })
    if (filterToAdd) {
      this.visibleAvailableFilters.push(filterToAdd)
    }
  }

  /**
   * transform javascript object to URL get params
   */
  // [TODO]
  // objectToGetParams(object) {
  //   let str = ''
  //   for (const key in object) {
  //     if (str != '') {
  //       str += '&'
  //     }
  //     str += key + '=' + encodeURIComponent(object[key])
  //   }
  //   return str ? str : ''
  // }
}
</script>

<style lang="scss">
.dynamic-table {
  @include card;
  th,
  td {
    @include font-size($fs-xs);
    padding: toRem(12px) toRem(12px) toRem(12px) 0;
    border-bottom: toRem(1px) solid $c-ws_4;
    &:last-child {
      padding-right: 0;
    }
  }
  th {
    color: $c-bs_4;
    text-transform: capitalize;
  }
  td {
    &::first-letter {
      text-transform: uppercase;
    }
    // modifiers
    &.is-danger,
    &.is-warning,
    &.is-incidence {
      // priority state dot indicator, use affter to keep first-letter pseudo element rule
      &::after {
        content: '';
        float: left;
        vertical-align: middle;
        width: toRem(8px);
        height: toRem(8px);
        margin: toRem(5px) toRem(5px) 0 0;
        background-color: $c-bs_4;
        border-radius: 50%;
      }
    }
    &.is-danger {
      &::after {
        background-color: $c-danger;
      }
    }
    &.is-warning {
      &::after {
        background-color: $c-warning;
      }
    }
  }
}
$dynamic-table_filters_gutter: 5px;
.dynamic-table_filters {
  display: flex;
  margin: 0 toRem(-$dynamic-table_filters_gutter) toRem(34px);
  .ui-select {
    margin: 0 toRem($dynamic-table_filters_gutter);
  }
}
.dynamic-table_requests {
  margin-bottom: toRem(6px);
}
.dynamic-table_table {
  width: 100%;
}
</style>
