<template>
  <header>
    <div class="header">
      <div class="header_container">
        <div class="header_wrap">
          <nuxt-link
            to="/"
            class="header_link"
          >
            Home
          </nuxt-link>
          <nuxt-link
            to="/posts"
            class="header_link"
          >
            Posts
          </nuxt-link>
          <nuxt-link
            to="/admin"
            class="header_link"
          >
            Admin
          </nuxt-link>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss">
.header {
  @include invisible-paper;
  background-color: $c-primary;
}
.header_container {
  @include container;
}
.header_link {
  display: inline-block;
  padding: toRem($header_items_padding_vertical)
    toRem($header_items_padding_horizontal);
  color: $c-white;
  &:hover,
  &.nuxt-link-exact-active {
    background-color: $c-primary_hover;
  }
}
@media #{$mq_labtop} {
  .header_wrap {
    display: flex;
  }
}
</style>
