<template>
  <div class="page-wrap">
    <div class="page-wrap_container">
      <slot />
    </div>
  </div>
</template>

<style lang="scss">
.page-wrap {
  @include container;
  padding-top: 1.5rem;
}
.page-wrap_container {
  position: relative;
}
</style>
