<template>
  <a
    v-if="type === 'link'"
    :href="href"
    class="ui-button"
  >{{ text }}</a>
  <nuxt-link
    v-else-if="type === 'nuxt-link'"
    :to="href"
    class="ui-button"
  >
    {{ text }}
  </nuxt-link>
  <input
    v-else-if="type === 'submit'"
    :value="text"
    class="ui-button"
    type="submit"
  >
  <button
    v-else
    :disabled="isDisabled"
    class="ui-button"
    type="button"
    @click="$emit('click')"
  >
    {{ text }}
  </button>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component
export default class UiButton extends Vue {
  // + props
  @Prop({ required: true })
  text: string
  @Prop({ default: 'button' })
  type: string
  @Prop({ default: '/', required: false })
  href: string
  // ++ state props
  @Prop({ default: false })
  isDisabled
}
</script>

<style lang="scss">
.ui-button {
  @include button;
  cursor: pointer;
  &::-moz-focus-inner {
    border: 0;
  }
  &[disabled='disabled'] {
    background-color: $c-gray-5;
    color: $c-gray-4;
    border-color: $c-gray-5;
    cursor: not-allowed;
    &:hover {
      box-shadow: none;
    }
  }
}
</style>
