<template>
  <div
    :class="{
      'has-value': value,
      'is-focused': isFocused,
      'is-valid': isValid && isDirty,
      'is-invalid': isValid === undefined ? false : !isValid && isDirty,
    }"
    class="ui-input"
  >
    <div class="ui-input_wrap">
      <input
        :id="name"
        v-model="typedValue"
        :type="type"
        :name="name"
        class="ui-input_input"
        @focus="onFocus"
        @blur="onBlur"
        @input="onInput"
      >
      <label
        v-if="label"
        :for="name"
        class="ui-input_label"
      >{{ label }}</label>
    </div>
    <div
      v-if="message"
      class="ui-input_message"
    >
      {{ message }}
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'

@Component({})
export default class UiInput extends Vue {
  // + props
  @Prop({ required: true, type: String })
  name: string
  @Prop({ type: String })
  label: string
  @Prop({ type: String })
  initialValue: string
  @Prop({ type: String, default: 'text' })
  type: string
  @Prop({ type: String })
  message: string
  @Prop({ default: undefined })
  isValid: boolean | undefined

  // + data
  isFocused: boolean = false
  isDirty: boolean = false
  typedValue: string = '' // user input value typed

  // computed
  get value(): string {
    return this.typedValue.trim()
  }

  // + lifecicle
  created() {
    // set initial value
    if (this.initialValue) {
      this.typedValue = this.initialValue
      this.$emit('input', this.value)
      this.isDirty = true
    }
  }

  // + events
  onInput() {
    if (!this.isDirty) this.isDirty = true
    this.$emit('input', this.value)
  }
  onFocus() {
    this.isFocused = true
  }
  onBlur() {
    this.isFocused = false
  }
}
</script>

<style lang="scss">
@include ui_states('.ui-input');

.ui-input_wrap {
  @include ui_wrap();
}
.ui-input_label {
  @include ui_label;
}
.ui-input_input {
  @include ui_input;
}
.ui-input_message {
  @include ui_message;
}
</style>
