<template>
  <div
    :class="{
      'has-value': selectedOption.value.length,
      'is-focused': isFocused,
      'is-valid': isValid && isDirty,
      'is-invalid': isValid === undefined ? false : !isValid && isDirty,
      'is-open': isOpen,
    }"
    class="ui-select"
  >
    <fieldset>
      <div class="ui-select_wrap">
        <legend
          v-if="label"
          :for="name"
          class="ui-select_label"
        >
          {{ label }}
        </legend>
        <div
          class="ui-select_input"
          @click="onClick"
        >
          <span
            v-if="selectedOption.icon"
            class="ui-select_value-icon"
          >
            <img
              :src="selectedOption.icon"
              :alt="selectedOption.text"
            >
          </span>
          <span
            v-if="showValueInInput"
            class="ui-select_value"
          >{{ selectedOption.value }}</span>
          <template v-if="selectedOption.text && !hideTextInInput">
            <span class="ui-select_value_text">{{ selectedOption.text }}</span>
          </template>

        </div>
        <div
          ref="optionsContainer"
          class="ui-select_options-container"
          tabindex="0"
          @focus="onFocus"
          @blur="onBlur"
          @keydown="onKeyDown"
        >
          <div
            v-for="(option, index) in visibleOptions"
            :key="index"
            :class="{
              'is-focused': preSelectedOptionIndex === index
            }"
            class="ui-select_option"
          >
            <input
              :id="`${name}-${index}`"
              :ref="`option${index}`"
              v-model="selectedOption.value"
              :value="option.value"
              :name="name"
              type="radio"
              class="ui-select_option-input"
              tabindex="-1"
              @change="onChange"
              @focus="onOptionFocus"
            >
            <label
              :for="`${name}-${index}`"
              role="button"
              class="ui-select_option-label"
              @click="onOptionClick(index)"
            >
              <span
                v-if="option.icon"
                class="ui-select_option-label-icon"
              >
                <img
                  :src="option.icon"
                  :alt="option.text"
                >
              </span>
              <span class="ui-select_option_label_text">{{ option.text }}</span>
            </label>
          </div>
        </div>
      </div>
    </fieldset>
    <div
      v-if="messages"
      class="ui-select_message"
    >
      {{ messages }}
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator'
import { UiSelectOption } from '~/types'

@Component({})
export default class UiSelect extends Vue {
  // + props
  @Prop({ required: true })
  options: UiSelectOption[]
  @Prop()
  label: string
  @Prop({ required: true })
  name: string
  @Prop()
  messages: string[]
  @Prop()
  defaultOptionId: string | number | undefined
  // ++ state props
  @Prop({ default: undefined })
  isValid: boolean | undefined
  // ++ modifiers props
  @Prop({ default: false })
  hideTextInInput: boolean // hide option.text in input container (nice to only show the icon)
  @Prop({ default: false })
  showValueInInput: boolean // show value in input container
  @Prop({ default: false })
  hasContinuousSorting: boolean // sorts options alphabetically when the  component detect changes
  @Prop({ type: Boolean })
  isResetOnSelect: boolean

  // + refs
  $refs: {
    optionsContainer: HTMLFormElement
  }

  // + data
  selectedOption: UiSelectOption = {
    value: '',
    text: '',
  }
  preSelectedOptionIndex: number = 0
  isOpen: boolean = false
  isFocused: boolean = false
  isDirty: boolean = false
  isMouseInOptionsContainer: boolean = false
  typedSearch: string = ''
  typedSearchCleanEvent: any
  isOptionFocused: boolean = false

  // + computed

  get visibleOptions(): UiSelectOption[] {
    return this.options
  }

  // + watchers

  // + lifecicle
  created() {
    // set preselected option
    this.preSelectedOptionIndex = this.isResetOnSelect ? -1 : 0
    // set initial value with id
    if (!this.label) {
      this.selectedOption = this.visibleOptions[0]
    }
    if (typeof this.defaultOptionId === 'string') {
      this.visibleOptions.find((option: UiSelectOption, index: number) => {
        let optionMatched: boolean = false
        if (option.id) {
          optionMatched = option.id === this.defaultOptionId
        } else {
          optionMatched = option.value === this.defaultOptionId
        }
        if (optionMatched) {
          this.selectedOption = this.visibleOptions[index]
          this.emitValue()
        }
        return optionMatched
      })
    } else if (typeof this.defaultOptionId === 'number') {
      if (this.visibleOptions[this.defaultOptionId]) {
        this.selectedOption = this.visibleOptions[this.defaultOptionId]
        this.emitValue()
      }
    }
  }

  // + events
  onChange() {
    if (!this.isDirty) this.isDirty = true
    this.emitValue()
  }
  onClick() {
    this.$refs.optionsContainer.focus()
    this.openOptionsContainer()
  }
  onFocus() {
    this.setFocus()
    this.openOptionsContainer()
    this.isOptionFocused = false
  }
  onBlur() {
    if (!this.isOptionFocused) {
      this.removeFocus()
    }
    this.sortOptions()
    this.preSelectedOptionIndex = this.options.findIndex(
      o => o === this.selectedOption,
    )
  }
  onKeyDown(event: KeyboardEvent) {
    const key = event.key
    const keyCode = event.keyCode
    if (key !== 'Tab') event.preventDefault() // prevent arrow scroll
    switch (key) {
      case 'ArrowDown':
        this.isOpen
          ? this.incrementPreSelectedOptionIndex()
          : this.openOptionsContainer()
        break
      case 'ArrowRight':
        this.incrementPreSelectedOptionIndex()
        break
      case 'ArrowUp':
      case 'ArrowLeft':
        this.decrementPreSelectedOptionIndex()
        break
      // case ' ':
      //   this.openOptionsContainer();
      //   break;
      case 'Escape':
        this.closeOptionsContainer()
        break
      case 'Enter':
        if (this.isOpen) {
          if (this.preSelectedOptionIndex >= 0) {
            this.selectedOption = this.visibleOptions[
              this.preSelectedOptionIndex
            ]
            this.closeOptionsContainer()
            this.emitValue()
          }
        } else {
          this.openOptionsContainer()
        }
        break
      default:
        if (
          (keyCode >= 48 && keyCode <= 57) || // numbers
          (keyCode >= 96 && keyCode <= 105) || // numeric keyboard numbers
          (keyCode >= 65 && keyCode <= 90) || // letters
          keyCode === 32 || // space
          keyCode === 189 // dash and lodash
        ) {
          // set or reset timeout to typed search
          this.stopTimeoutToCleanTypedSearch()
          this.startTimeoutToCleanTypedSearch()
          // construct typed search
          this.typedSearch += key

          // -------
          let matchedOptions: UiSelectOption[] = []
          const isPrefixNumberSearch = parseInt(this.typedSearch) >= 0

          for (let index = 0; index < this.visibleOptions.length; index++) {
            const option = this.visibleOptions[index]
            let optionMatchWithTypedSearch: boolean = false
            if (isPrefixNumberSearch) {
              // is countrie code number
              optionMatchWithTypedSearch =
                this.visibleOptions[index].value.indexOf(
                  '+' + this.typedSearch,
                ) === 0
            } else {
              // is countrie name
              optionMatchWithTypedSearch =
                this.visibleOptions[index].text
                  .toLowerCase()
                  .indexOf(this.typedSearch.toLowerCase()) === 0
            }
            if (optionMatchWithTypedSearch) {
              this.visibleOptions.splice(index, 1)
              matchedOptions.push(option)
              index-- // prevent splice loop wasted
            }
          }

          this.sortArray(
            matchedOptions,
            isPrefixNumberSearch ? 'value' : 'text',
            true,
          )
          matchedOptions.forEach(option => {
            this.visibleOptions.unshift(option)
          })
          this.preSelectedOptionIndex = 0
        }
        break
    }
  }
  onOptionClick(index: number) {
    this.selectedOption = this.visibleOptions[index]
    this.preSelectedOptionIndex = index
    this.isFocused = true
    setTimeout(() => {
      this.setFocus()
      this.emitValue()
    }, 1)
  }
  onOptionFocus() {
    if (this.isOptionFocused) {
      this.$refs.optionsContainer.focus()
    }
  }

  // + functions
  setFocus() {
    this.isFocused = true
  }
  removeFocus() {
    this.isFocused = false
    this.closeOptionsContainer()
  }
  openOptionsContainer() {
    this.isOpen = true
  }
  closeOptionsContainer() {
    this.isOpen = false
  }
  incrementPreSelectedOptionIndex() {
    if (this.preSelectedOptionIndex + 1 < this.options.length) {
      this.preSelectedOptionIndex++
    }
  }
  decrementPreSelectedOptionIndex() {
    if (this.preSelectedOptionIndex - 1 >= 0) {
      this.preSelectedOptionIndex--
    }
  }
  startTimeoutToCleanTypedSearch() {
    this.typedSearchCleanEvent = setTimeout(() => {
      this.typedSearch = ''
    }, 500)
  }
  stopTimeoutToCleanTypedSearch() {
    clearTimeout(this.typedSearchCleanEvent)
  }
  sortOptions() {
    if (this.hasContinuousSorting) {
      this.sortArray(this.visibleOptions)
    }
  }
  sortArray(array: Array<any>, key: string = 'text', isDescending?: boolean) {
    array.sort((a, b) => {
      if (a[key] < b[key]) {
        return isDescending ? 1 : -1
      }
      if (a[key] > b[key]) {
        return isDescending ? -1 : 1
      }
      return 0
    })
  }
  emitValue() {
    this.$emit('input', this.selectedOption.value)
    if (this.isResetOnSelect) {
      this.selectedOption = {
        value: '',
        text: '',
      }
      this.preSelectedOptionIndex = -1
      this.isFocused = false
    }
  }
}
</script>

<style lang="scss">
@include ui_states('.ui-select');

.ui-select {
  @include font-size($fs-xs);
  background-color: $c-ws_1;
  // modifiers
  &.is-add-filter-button {
    .ui-select_wrap {
      $filter-button_color: $c-primary_4;
      $filter-button_color_hover: $c-primary_5;
      @include use-iconfont($icon-add, 18px, before);
      display: flex;
      align-items: center;
      color: $filter-button_color;
      padding: 0 1rem 0 0;
      background-color: $c-white;
      border-color: $filter-button_color;
      &::before {
        margin: 0 toRem(6px);
      }
      &:hover {
        color: $filter-button_color_hover;
        border-color: $filter-button_color_hover;
      }
    }
    .ui-select_input {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      &::after {
        content: none;
      }
    }
  }
  &.is-open {
    .ui-select_options-container {
      top: 100%;
      height: auto;
      min-width: 100%;
      margin-top: toRem(6px);
    }
    .ui-select_input {
      &::after {
        transform: scaleY(-1);
      }
    }
  }
}
.ui-select_wrap {
  @include ui_wrap();
}
.ui-select_label {
  @include ui_label;
}
.ui-select_input {
  @include ui_input;
  @include use-iconfont($icon-chevron-down, 18px, after);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 0;
  cursor: pointer;
  &::after {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: toRem(32px);
    height: 100%;
    border-left: 1px solid $input_border-color;
    margin-left: $fs_xs;
  }
}
.ui-select_value-icon,
.ui-select_option-label-icon {
  display: inline-block;
  width: 1.5em;
  margin-right: 0.5em;
  line-height: 0;
}
.ui-select_value_text {
  &::first-letter {
    text-transform: uppercase;
  }
}
.ui-select_options-container {
  z-index: 2;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 0;
  background-color: #fff;
  border-radius: $br-default;
  outline: 0;
  overflow: hidden;
  transition: $transition-default;
}
.ui-select_option {
  &:first-child {
    .ui-select_option-label {
      border-top: 1px solid $input_border-color;
      border-radius: $br-default $br-default 0 0;
    }
  }
  &:last-child {
    .ui-select_option-label {
      border-radius: 0 0 $br-default $br-default;
    }
  }
  &:hover {
    background-color: $c-ws_1;
  }
  &.is-focused {
    background-color: $c-ws_1;
    font-weight: 700;
  }
}
.ui-select_option-input {
  z-index: -1;
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.ui-select_option-label {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: $input_height;
  padding: 0.75em 1em;
  border: 1px solid $input_border-color;
  border-top: 0;
  cursor: pointer;
}
.ui-select_option_label_text {
  &::first-letter {
    text-transform: uppercase;
  }
}
.ui-select_message {
  @include ui_message;
}
</style>
