@mixin use-iconfont($icon, $icon_font-size: false, $pseudo-element: before, $color: false) {
  &::#{$pseudo-element} {
    content: $icon;
    @if $icon_font-size {
      font-size: toRem($icon_font-size);
    } @else {
      font-size: 1em;
    }
    font-family: pv-icons;
    @if $color {
      color: $color;
    }
  }
}
