@mixin invisible-paper {
  
}
@mixin paper {
  @include invisible-paper;
  background-color: $c-white;
  border: toRem(1px) solid $c-ws_3;
}

@mixin card {
  @include card-mobile;
  @media #{$mq_tablet} {
    padding: $gutter_card-vertical-labtop $gutter_card-horizontal_desktop;
  }
}

@mixin card-mobile {
  @include paper;
  padding: $gutter_card-vertical $gutter_card-horizontal;
  border-radius: $br-default;
}

@mixin cardColumn {
  @include card;
  margin: 0 (-$gutter_page);
  @media #{$mq_mobile-M} {
    margin: 0;
  }
}
