@mixin container {
  width: 100%;
  max-width: calc(#{$app-width} + #{$gutter_page * 2});
  margin: 0 auto;
  padding: 0 $gutter_page;
  @media #{$mq_labtop} {
    max-width: calc(#{$app-width} + #{$gutter_page-labtop * 2});
    padding-left: toRem($gutter_page-labtop);
    padding-right: toRem($gutter_page-labtop);
  }
  @media #{$mq_labtop-L} {
    max-width: calc(#{$app-width_labtop-L} + #{$gutter_page-labtop * 2});
  }
}
