@mixin form-grid($columns: 1) {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  // margin: $gutter-form-vertical / -2 $gutter-form-horizontal / -2 2rem; // negative margin top allows buttons margin top separation on collapse
  margin: 0 $gutter-form-horizontal / -2; // negative margin top allows buttons margin top separation on collapse
  > * {
    flex-basis: 100%;
    margin: $gutter-form-vertical / 2 $gutter-form-horizontal / 2 $gutter-form-vertical / 2;
    flex-grow: 0;
  }
  @media #{$mq_tablet} {
    > * {
      @if $columns < 2 {
        flex-basis: calc(100% - #{$gutter-form-horizontal});
      } @else {
        flex-basis: calc(50% - #{$gutter-form-horizontal});
      }
    }
  }
  @media #{$mq_labtop} {
    > * {
      @if $columns < 3 {
        flex-basis: calc((100% / #{$columns}) - #{$gutter-form-horizontal});
      } @else {
        flex-basis: calc((100% / 3) - #{$gutter-form-horizontal});
      }
    }
  }
  @media #{$mq_labtop-L} {
    // margin: $gutter-form-vertical-desktop / -2 $gutter-form-horizontal-desktop / -2 2rem;
    margin: 0 $gutter-form-horizontal-desktop / -2;
    > * {
      @if $columns < 4 {
        flex-basis: calc((100% / #{$columns}) - #{$gutter-form-horizontal-desktop});
      } @else {
        flex-basis: calc((100% / 4) - #{$gutter-form-horizontal-desktop});
      }
      margin: $gutter-form-vertical-desktop / 2 $gutter-form-horizontal-desktop / 2 $gutter-form-vertical-desktop / 2;
    }
  }
  @media #{$mq_labtop-L} { // >= 1200px
    > * {
      flex-basis: calc((100% / #{$columns}) - #{$gutter-form-horizontal-desktop} - 0.1px); // - 0.1px to IE 11 and Edge support
    }
  }
}
