@mixin overlayDisable {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  transform: scaleX(0);
}
@mixin overlayEnable {
  background-color: $c-overlay;
  transform: scaleX(1);
}
