@mixin button($button-type: false) {
  @if ($button-type == primary) {
    @include button-generator($c-primary, $c-primary_hover, $c-white);
  }
  @else if ($button-type == secondary) {
    @include button-generator($c-secondary, $c-secondary_hover, $c-white);
  }
  @else if ($button-type == warning) {
    @include button-generator($c-warning, $c-warning_hover, $c-white);
  }
  @else if ($button-type == danger) {
    @include button-generator($c-danger, $c-danger_hover, $c-white);
  }
  @else {
    @include button-generator($c-gray-6, $c-white);
  }
}
@mixin buttonHover($background-color_hover: $c-primary_hover) {
  background-color: $background-color_hover;
  box-shadow: $bs_material-2;
}
@mixin buttonActive($background-color: $c-primary_hover) {
  @include buttonHover($background-color);
}
@mixin button-generator(
  $background-color: $c-primary,
  $background-color_hover: $c-primary_hover,
  $color: $c-text,
) {
  @include buttonActive($background-color_hover);
  display: inline-block;
  padding: .75rem 2rem;
  color: $color;
  text-align: center;
  background-color: $background-color;
  border: 0;
  border-radius: $br-default;
  outline: 0;
  box-shadow: $bs_material-1;
  cursor: pointer;
  &:hover,
  &:active {
    @include buttonHover($background-color_hover);
  }
}
