@mixin ui_states($ui-element) {
  #{$ui-element} {
    // modifiers
    &:hover {
      #{$ui-element}_label,
      #{$ui-element}_message {
        // color: $input-active_color;
      }
      #{$ui-element}_input {
        border-color: $input-active_color;
        &::before {
          color: $input-active_color;
        }
      }
    }
    &.has-value,
    &.is-focused {
      // #{$ui-element}_label {
      //   z-index: 1;
      //   top: 0;
      //   left: 1em;
      //   padding: 0 1em;
      //   font-size: calculateEm($fs-sm);
      //   color: $input-active_color;
      //   background-color: $c-white;
      //   border: 1px solid;
      //   border-color: inherit;
      //   box-shadow: $bs_material-1;
      //   transform: translateY(-100% / 3 * 2);
      // }
      // #{$ui-element}_input {
      //   &::before {
      //     color: $input-active_color;
      //   }
      // }
    }
    &.has-value {
      // #{$ui-element}_input {
      //   border-color: $input-active_color;
      // }
    }
    &.is-focused {
      // #{$ui-element}_container {
      //   &:hover {
      //     box-shadow: inset 0 0 0.5em 0 rgba($c-primary, 0.5);
      //   }
      // }
      // // #{$ui-element}_label {

      // // }
      // #{$ui-element}_input {
      //   border-color: $input-active_color;
      //   box-shadow: inset 0 0 0.5em 0 rgba($input-active_color, 0.5);
      // }
      // #{$ui-element}_message {
      //   color: $input-active_color;
      // }
      // // states
      // &.is-valid {
      //   #{$ui-element}_input {
      //     box-shadow: inset 0 0 0.5em 0 rgba($c-success, 0.5);
      //   }
      //   #{$ui-element}_message {
      //     color: $c-success;
      //   }
      // }
      // &.is-invalid {
      //   #{$ui-element}_input {
      //     box-shadow: inset 0 0 0.5em 0 rgba($c-danger, 0.5);
      //   }
      //   #{$ui-element}_message {
      //     color: $c-danger;
      //   }
      // }
    }
    &.is-valid {
      color: $c-success;
      #{$ui-element}_label {
        color: $c-success;
      }
      #{$ui-element}_input {
        border-color: $c-success;
        box-shadow: none;
      }
      #{$ui-element}_message {
        color: $c-success;
      }
    }
    &.is-invalid {
      color: $c-danger;
      #{$ui-element}_label {
        color: $c-danger;
      }
      #{$ui-element}_input {
        border-color: $c-danger;
        box-shadow: none;
      }
      #{$ui-element}_message {
        color: $c-danger;
      }
    }
  }
}
@mixin ui_wrap {
  position: relative;
  height: toRem($input_height);
  border: $input_border;
  border-radius: $br-default;
}
@mixin ui_label {
  line-height: calculateEm(21px, $fs-sm, true);
  pointer-events: none;
}
@mixin ui_input {
  width: 100%;
  height: toRem($input_height);
  padding: 0 1em;
  font-weight: 700;
  background-color: transparent;
  outline: 0;
}
@mixin ui_message {
  margin: 0.5em 0 -.25rem;
  font-size: calculateEm($fs-sm);
  color: $input_color;
}
