<template>
  <div class="admin-post-page">
    <CreatePostForm :post="loadedPost" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import CreatePostForm from '~/components/Forms/CreatePostForm.vue'

@Component({
  components: {
    CreatePostForm,
  },
})
export default class extends Vue {
  loadedPost = {
    author: 'Yamid Granda',
    title: 'My awasome post',
    content: 'This is a nice content',
    image_link: 'https://cdn.pixabay.com/photo/2017/05/09/03/46/alberta-2297204_960_720.jpg'
  }
}
</script>