<template>
  <div class="posts-page">
    <div class="posts-page_post-previews">
      <PostList :postPreviews="postPreviews" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import PostList from '~/components/Posts/PostList.vue'

@Component({
  components: {
    PostList,
  },
})
export default class extends Vue {
  postPreviews = [
    {
      id: 1,
      title: 'Post Title #1',
      resume: 'This is the post resume #1',
      image:
        'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    },
    {
      id: 2,
      title: 'Post Title #2',
      resume: 'This is the post resume #2',
      image:
        'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    },
    {
      id: 3,
      title: 'Post Title #2',
      resume: 'This is the post resume #2',
      image:
        'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    },
    {
      id: 4,
      title: 'Post Title #2',
      resume: 'This is the post resume #2',
    },
    {
      id: 5,
      title: 'Post Title #2',
      resume: 'This is the post resume #2',
      image:
        'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    },
    {
      id: 6,
      title: 'Post Title #2',
      resume: 'This is the post resume #2',
      image:
        'https://get.pxhere.com/photo/landscape-fog-mist-photography-sunlight-morning-white-dress-dream-photograph-sexy-woman-atmospheric-phenomenon-1096204.jpg',
    },
  ]
}
</script>

