<template>
  <div class="admin-auth-page">
    <form
      class="admin-auth-form"
      @submit.prevent="onSubmit"
    >
      <UiInput
        v-model="data.email"
        name="email"
        label="Email"
      />
      <UiInput
        v-model="data.password"
        name="password"
        label="Password"
        type="password"
      />
      <UiButton :text="isLogin ? 'Login' : 'Sign Up'" />
      <UiButton
        :text="`Switch to ${isLogin ? 'Sign Up' : 'Login'}`"
        @click="toogleAuthType"
      />
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import UiInput from '~/components/UI/UiInput.vue'
import UiButton from '~/components/UI/UiButton.vue'
@Component({
  components: {
    UiInput,
    UiButton,
  },
})
export default class extends Vue {
  data = {
    email: '',
    password: '',
  }
  isLogin: boolean = false

  toogleAuthType() {
    this.isLogin = !this.isLogin
  }
}
</script>

<style lang="scss">
.admin-auth-form {
  @include card;
  @include form-grid(3);
}
</style>