<template>
  <div>
    <Header />
    <p>Admin Page</p>
    <PageWrap>
      <nuxt />
    </PageWrap>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class PageWrap extends Vue {}
</script>

<script>
import PageWrap from '~/components/PageWrap'
import Header from '~/components/Header'
export default {
  components: {
    PageWrap,
    Header,
  },
}
</script>
