<template>
  <div>
    <p>Users template</p>
    <Header />
    <nuxt />
  </div>
</template>

<script>
import Header from '~/components/Header'
export default {
  components: {
    Header,
  },
}
</script>
