<template>
  <div class="about-page">
    <h1>About Yamid Granda</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae libero ipsa necessitatibus rem hic repellendus quo aut velit accusamus ut magnam cupiditate itaque molestiae blanditiis eaque, totam cumque tenetur at?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat hic sit ducimus minima excepturi pariatur. Ipsa similique fugit quisquam, reprehenderit voluptas deleniti corrupti blanditiis provident, recusandae tempora beatae dolor placeat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempore labore inventore saepe fuga deleniti dolor ipsum ipsam tenetur, maxime quam sint expedita repellat voluptatum libero aut dignissimos doloribus ab?</p>
  </div>
</template>
