<template>
  <div class="home-page">
    <DynamicTable :data="filteredData" />
    <!-- DYNAMIC TABLE DATA EXAMPLE -->
    <!-- {{ filteredData }} -->
    <!-- <DynamicTable :data="{
      default_filters: {
        items: [
          {
            column: 'status',
          }
        ]
      },
      items: [
        {
          user_name: 'Username #1',
          subjet: 'Subjet text #1',
          customer_satisfaction: '100%',
          priotity: {
            type: 'danger',
            value: 'hight',
          },
          status: 'Solved',
        },
        {
          user_name: 'Username #2',
          subjet: 'Subjet text #2',
          customer_satisfaction: '100%',
          priotity: {
            type: 'danger',
            value: 'low',
          },
          status: 'Solved',
        },
        {
          user_name: 'Andres Gomez',
          subjet: 'Subjet text',
          customer_satisfaction: '100%',
          priotity: {
            type: 'danger',
            value: 'hight',
          },
          status: 'Solved',
        },
      ],
    }" /> -->
  </div>
</template>

<script lang="ts">
import { Component, Vue, State } from 'nuxt-property-decorator'
import DynamicTable from '~/components/Tables/DynamicTable.vue'

@Component({
  components: {
    DynamicTable,
  },
})
export default class IndexPage extends Vue {
  @State data
  @State filters

  get filteredData() {
    return {
      items: this.data.map(o => {
        return {
          user_name: o.user_name,
          subject: o.subject,
          customer_satisfaction: `${o.csat}%`,
          priority: {
            type: this.applyCellStates(o.priority),
            value: o.priority,
          },
          status: o.status,
        }
      }),
      default_filters: {
        items: this.filters.map(o => {
          return {
            column: o._id
          }
        })
      },
    }
  }

  applyCellStates(value) {
    switch (value) {
      case 'high':
        return 'danger'
      case 'medium':
        return 'warning'
      default:
        return 'incidence'
    }
  }
}
</script>
