<template>
  <div class="post-page">
    <div class="post">
      <h1 class="post_title">
        <span class="post_title_text">Post title</span>
      </h1>
      <div class="post_details">
        <div class="post_details_last-update">
          <span class="post_details_last-update_text">last update date</span>
        </div>
        <div class="post_details_author">
          <span class="post_details_author_name">Yamid Granda</span>
        </div>
        <div class="post_content">
          <p class="post_content_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio ipsam expedita nobis assumenda sequi atque nemo animi cupiditate placeat, molestias, voluptate non corporis repudiandae quidem laudantium similique nisi. Sunt, cumque?
          </p>
        </div>
        <div class="post_feedback">
          <p class="post_feedback_text">
            Let me know what you think about the post, send me an email to <a href="mailto:cyperez51@misena.edu.co">cyperez51@misena.edu.co</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.post {
  @include card;
}
</style>
