@function toRem($fontSize) {
  $remSize: $fontSize / 16px;
  @return #{$remSize}rem;
}

@function calculateEm($fontSize, $currentFontSize: 16px, $remove-units: false) {
  $remSize: $fontSize / $currentFontSize;
  @if $remove-units {
    @return #{$remSize};
  }
  @return #{$remSize}em;
}
