// -------------------------------------------------
// + colors
// -------------------------------------------------

$c-primary:         #0277bd;
$c-primary_hover:   darken($c-primary, 8%);
$c-primary-light:   #ffebee;
$c-primary-dark:    #c62828;
$c-primary-dark:    #d32f2f;
$c-secondary:       #8bc34a;
$c-secondary_hover: darken($c-secondary, 8%);;
$c-secondary-dark:  #689f38 ;
$c-success:         $c-secondary;
$c-success:         $c-secondary-dark;
$c-warning:         #fbd869;
$c-warning_hover:   darken($c-warning, 8%);
$c-warning-dark:    #f57c00;
$c-danger:          #f07555;
$c-danger_hover:    darken($c-danger, 8%);
$c-danger-dark:     #d32f2f;

// -------------------------------------------------
// ++ gray scale colors
// -------------------------------------------------

$c-gray-1: #616161; // 03
$c-gray-2: #757575; // 04
$c-gray-3: #9e9e9e; // 05
$c-gray-4: #bdbdbd; // 06 // used
$c-gray-5: #e9efee; // 08
$c-gray-6: #f5f5f5; // 10

// -------------------------------------------------
// +++ black shades
// -------------------------------------------------

$c-black:             #000;
$c-bs_1:           #04100f;
$c-bs_2:           #36403f;
$c-bs_3:           #68706f;
$c-bs_4:           #9b9f9f;

// -------------------------------------------------
// +++ white shades
// -------------------------------------------------

$c-white:            #fff;
$c-ws_1:          #f5f8f7;
$c-ws_2:          #ecf1f1;
$c-ws_3:          #d9e3e2;
$c-ws_4:          #c7d5d4;

// -------------------------------------------------
// +++ primary scale
// -------------------------------------------------

$c-primary_4: #33b46c;
$c-primary_5: #00a248;

// -------------------------------------------------
// +++ inherit colors
// -------------------------------------------------

$c-text: $c-bs_2;
$c-overlay: rgba($c-text, (1 / 3));

// -------------------------------------------------
// + font sizes
// -------------------------------------------------

$fs-xxs:      10.2px;
$fs-xs:       12.8px;
$fs-sm:       16px;
$fs:          20px;
$fs-md:       25px;
$fs-lg:       31.2px;
$fs-xl:       39px;
$fs-xxl:      44px;
$fs-xxxl:     48.8px;
$fs-super-1:  61px;
$fs-super-2:  76.3px;
$fs-super-3:  95.3px;

// -------------------------------------------------
// + app widths
// -------------------------------------------------

$app-width: 1200px;
$app-width_labtop-L: 1400px;

// -------------------------------------------------
// + icons
// -------------------------------------------------

@import '../icons/variables';

// -------------------------------------------------
// + screen sizes
// -------------------------------------------------

$width_mobile-S:           320px;
$width_mobile-M:           375px;
$width_mobile-L:           425px;
$width_tablet:             768px;
$width_labtop:            1024px;
$width_labtop-L:          1440px;
$width_4K:                2560px;

// -------------------------------------------------
// + mediaqueries
// -------------------------------------------------

$mq_mobile-M: '(min-width: #{$width_mobile-M})';
$mq_mobile-L: '(min-width: #{$width_mobile-L})';
$mq_tablet: '(min-width: #{$width_tablet})';
$mq_labtop: '(min-width: #{$width_labtop})';
$mq_labtop-L: '(min-width: #{$width_labtop-L})';
$mq_4K: '(min-width: #{$width_4K})';

// -------------------------------------------------
// + gutters
// -------------------------------------------------

$gutter_page: 14px;
$gutter_page_labtop: 32px;
$gutter_card-horizontal: $gutter_page;
$gutter_card-horizontal_desktop: 48px;
$gutter_card-vertical: $gutter_page;
$gutter_card-vertical-labtop: 40px;

// -------------------------------------------------
// ++ form gutters
// -------------------------------------------------
$gutter-form-horizontal: 1rem;                          // 16px default
$gutter-form-horizontal-desktop: 1.5rem;                // 24px desktop
$gutter-form-vertical: 2rem;                            // 16px default
$gutter-form-vertical-desktop: $gutter-form-vertical;   // 32px desktop


// -------------------------------------------------
// + border radius
// -------------------------------------------------
$br-default: 4px;


// -------------------------------------------------
// + box  shadows
// -------------------------------------------------

$bs_material-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$bs_material-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// -------------------------------------------------
// + form elements
// -------------------------------------------------

// -------------------------------------------------
// ++ inputs
// -------------------------------------------------

$input_height: 34px; // text, select, check, radio ...
$input_color: $c-gray-4;
$input_border-color: $c-ws_3;
$input_border: 1px solid $input_border-color;
$input-active_color: $c-text;

// -------------------------------------------------
// + font families
// -------------------------------------------------

$ff-default:  'Roboto', sans-serif;
// $ff-mono:     'Roboto Mono', monospace;


// -------------------------------------------------
// + line heights
// -------------------------------------------------

$lh_default: 1.25;

// -------------------------------------------------
// + zindex
// -------------------------------------------------

$z-modal: 1600;
$z-modal-header: 1500;
$z-overlay: 1000;

// -------------------------------------------------
// + transitions
// -------------------------------------------------

$transition-default: .2s ease-in-out, z-index 0s;

// -------------------------------------------------
// + components
// -------------------------------------------------

// -------------------------------------------------
// ++ header
// -------------------------------------------------

$header_items_padding_horizontal: $gutter_card-horizontal_desktop;
$header_items_padding_vertical: 24px;

// -------------------------------------------------
// ++ auth menu
// -------------------------------------------------

$auth-menu_top-space: 16px;

// -------------------------------------------------
// ++ side nav
// -------------------------------------------------

$side-nav_width: 25%;

// -------------------------------------------------
// ++ board
// -------------------------------------------------

$board_gutter: 8px;

// -------------------------------------------------
// ++ footer
// -------------------------------------------------

$footer_brand-height: 60px;
$footer_height: toRem($footer_brand-height + 16px + $gutter_card-vertical * 2);
