@font-face {
  font-family: pvtext;
  src: url(../../../fonts/pvtext_regular-webfont.c50b744a.eot);
  src: url(../../../fonts/pvtext_regular-webfont.c50b744a.eot?#iefix)
      format("embedded-opentype"),
    url(../../../fonts/pvtext_regular-webfont.221c3589.woff2) format("woff2"),
    url(../../../fonts/pvtext_regular-webfont.33cc7efe.woff) format("woff"),
    url(../../../fonts/pvtext_regular-webfont.66cb5a58.ttf) format("truetype"),
    url(../../../fonts/pvtext_regular-webfont.d3ddbd13.svg#pvtextregular) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pvtext;
  src: url(../../../fonts/pvtext_bold-webfont.f60a1449.eot);
  src: url(../../../fonts/pvtext_bold-webfont.f60a1449.eot?#iefix) format("embedded-opentype"),
    url(../../../fonts/pvtext_bold-webfont.aa36d6f4.woff2) format("woff2"),
    url(../../../fonts/pvtext_bold-webfont.ff87618f.woff) format("woff"),
    url(../../../fonts/pvtext_bold-webfont.15e046be.ttf) format("truetype"),
    url(../../../fonts/pvtext_bold-webfont.2679a1c3.svg#pvtextbold) format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: pvtext;
  src: url(../../../fonts/pvtext_semilight-webfont.cd2760b0.eot);
  src: url(../../../fonts/pvtext_semilight-webfont.cd2760b0.eot?#iefix)
      format("embedded-opentype"),
    url(../../../fonts/pvtext_semilight-webfont.66b5246a.woff2) format("woff2"),
    url(../../../fonts/pvtext_semilight-webfont.58fc18f9.woff) format("woff"),
    url(../../../fonts/pvtext_semilight-webfont.bb96d2d9.ttf) format("truetype"),
    url(../../../fonts/pvtext_semilight-webfont.811c1d69.svg#pvtextsemilight) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: pvdisplay;
  src: url(../../../fonts/pvdisplay_bold-webfont.d6c52b94.eot);
  src: url(../../../fonts/pvdisplay_bold-webfont.d6c52b94.eot?#iefix)
      format("embedded-opentype"),
    url(../../../fonts/pvdisplay_bold-webfont.4abd8df9.woff2) format("woff2"),
    url(../../../fonts/pvdisplay_bold-webfont.10f4f8d7.woff) format("woff"),
    url(../../../fonts/pvdisplay_bold-webfont.d20a753c.ttf) format("truetype"),
    url(../../../fonts/pvdisplay_bold-webfont.a5ee19bb.svg#pvdisplaybold) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: pv-icons;
  src: url(../../../fonts/pv-icons.9fdc992d.eot);
  src: url(../../../fonts/pv-icons.9fdc992d.eot#iefix) format("embedded-opentype"),
    url(../../../fonts/pv-icons.4714f5ac.ttf) format("truetype"),
    url(../../../fonts/pv-icons.c7d09f56.woff) format("woff"),
    url(../../../fonts/pv-icons.38f03a70.svg#pv-icons) format("svg");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: pvtext, sans-serif;
}

// -------------------------------------------------
// + headigns
// -------------------------------------------------
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0 0 0.5em;
  font-weight: 500;
  p + & {
    margin: 1rem 0 0.5em;
  }
}
h1,
.h1 {
  font-size: toRem($fs-xl);
}
h2,
.h2 {
  font-size: toRem($fs-lg);
}
h3,
.h3 {
  font-size: toRem($fs-md);
}

// -------------------------------------------------
// + paragraphs
// -------------------------------------------------
p {
  margin: 0 0 0.75em;
  a {
    outline: none;
    color: $c-primary-dark;
    font-weight: 500;
    text-decoration: none;
    &:hover {
      color: $c-secondary-dark;
      text-decoration: underline;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
a {
  color: $c-text;
  line-height: 1;
}

// -------------------------------------------------
// + line height
// -------------------------------------------------

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
br,
th,
td {
  line-height: $lh_default;
}

a {
  outline: none;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

// -------------------------------------------------
// + table base align
// -------------------------------------------------

th,
td {
  text-align: left;
}
