<template>
  <form
    class="create-post-form"
    @submit.prevent="onSubmit"
  >
    <UiInput
      v-model="author"
      name="author"
      label="Author name"
    />
    <UiInput
      v-model="title"
      name="title"
      label="Title"
    />
    <UiInput
      v-model="imageLink"
      name="image_link"
      label="Image link"
    />
    <UiTextArea
      v-model="content"
      name="content"
      label="Content"
    />
    <UiButton text="Save" />
    <UiButton
      text="Cancel"
      type="nuxt-link"
      href="/admin"
    />
  </form>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'
import UiInput from '~/components/UI/UiInput.vue'
import UiTextArea from '~/components/UI/UiTextArea.vue'
import UiButton from '~/components/UI/UiButton.vue'

@Component({
  components: {
    UiInput,
    UiTextArea,
    UiButton,
  },
})
export default class extends Vue {
  @Prop({ type: Object })
  post: object

  editedPost = this.post
    ? { ...this.post }
    : {
        author: '',
        title: '',
        imageLink: '',
        content: '',
      }

  onSubmit() {
  }
  onCancel() {}
}
</script>

<style lang="scss">
.create-post-form {
  @include card;
  @include form-grid(3);
}
</style>